body {
font-family: Arial, Helvetica;
font-size: 12px;
background-color: #fff;
}

p {
line-height: 20px;
}

img {
border-style: dashed;
border-width: 3px;
border-color: #999;
}

h1 {
padding: 3px;
letter-spacing: 2px;
border-bottom-style: solid;
}





